<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="CSAT.IT.Core.Nuget" value="https://pkgs.dev.azure.com/csatsolutions/_packaging/CSAT.IT.Core.Nuget/nuget/v3/index.json" />
  </packageSources>
</configuration>